<section class="section text-bglight">
    <h1 class="py-4">{{ product()?.name}}</h1>
    <div class="detail flex flex-col lg:flex-row w-full gap-6">
        <article class="left-column w-full lg:w-3/4">
            <div class="bg-white  rounded-lg shadow-md flex gap-4 justify-start p-4">
                <div [style.background-image]="'url(' + product()?.images?.[0]?.src + ')'"
                    class="w-36 h-36 bg-cover bg-center rounded-md border-2"></div>
            </div>
            <div class="bg-white rounded-lg shadow-md flex gap-4 p-4 mt-4">
                <div class="flex flex-col gap-2 w-3/6">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" class="border-2 rounded-md bg-lightgray py-1 px-2 "
                        [value]="product()?.name">
                </div>
                <div class="flex flex-col gap-2">
                    <label>ID</label>
                    <span class="border-2 rounded-md bg-lightgray py-1 px-2 w-fit cursor-default">{{
                        product()?.id}}</span>
                </div>
                <div class="flex flex-col gap-2">
                    <label for="stock">Stock</label>
                    <input type="number" name="stock" id="stock" class="border-2 rounded-md bg-lightgray py-1 px-2"
                        [value]="product()?.stock_quantity">
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md flex gap-4 p-4 mt-4 h-1/3">
                <div class="flex flex-col gap-2 w-full">
                    <label for="description">Descripción</label>
                    <textarea name="description" id="description"
                        class="border-2 rounded-md bg-lightgray py-1 px-2 h-full resize-none"
                        [value]="product()?.description"></textarea>
                </div>
            </div>
            
        </article>
        <article class="right-column w-full lg:w-1/4 flex flex-col justify-between gap-4">
            <div>
                <div class="bg-white rounded-lg shadow-md flex flex-col gap-2 p-4">
                    <label>Precio</label>
                    <span class="border-2 rounded-md bg-lightgray py-1 px-2 w-full cursor-default">{{
                        product()?.price }}</span>
                </div>
    
                <div class="bg-white rounded-lg shadow-md flex flex-col gap-2 p-4 mt-4">
                    <div>
                        <span>Estado</span>
                    </div>
                    <div class="flex gap-2 w-full">
                        <input type="checkbox" id="check" (ngModel)="isPublished()" (change)="toggleStatus()">
                        <label for="check" class="toggle-button"
                            [ngClass]="{ 'active': isPublished(), 'inactive': !isPublished() }"></label>
                        <span class="break-words">
                            Estado actual: {{ isPublished() ? 'Publicado' : 'Borrador' }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex gap-4 justify-end">
                <app-button typeBtn="submit" color="success" (click)="updateWooProduct()">Guardar</app-button>
                <app-button typeBtn="submit" color="danger">Cancelar</app-button>
            </div>
        </article>
    </div>
    
</section>